{% extends "base.html" %}

    {% block title %}Minha Aplicação{% endblock %}

{% block content %}

<div class="w-full max-w-5xl bg-white rounded shadow-md p-6">
    <h2 class="text-xl font-bold mb-6 text-center">Gerenciamento de Fornecedores</h2>

    <!-- Botões de Ação -->
    <div class="flex justify-between mb-6">
        <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline flex items-center">
            <a href="fornecedor/novo/">
            <i class="fas fa-plus mr-2"></i> Adicionar Fornecedor
            </a>
        </button>
    </div>

    <!-- Tabela de Fornecedor -->
    <div class="overflow-x-auto">
        <table class="table-auto w-full text-left bg-gray-100 border rounded-lg">
            <thead>
                <tr class="bg-gray-200">
                    <th class="px-4 py-2">Nome</th>
                    <th class="px-4 py-2">CPF/CNPJ</th>
                    <th class="px-4 py-2">Criado Em</th>
                    <th class="px-4 py-2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                <tr class="border-t">
                    <td class="px-4 py-2">{{fornecedor.nome}}</td>
                    <td class="px-4 py-2">{{fornecedor.cpf_cnpj}}</td>
                    <td class="px-4 py-2">{{fornecedor.criado_em}}</td>
                    <td class=" px-4 py-2 text-center flex justify-center space-x-2">
                        <!-- Botão de Alterar -->
                        <a href="{% url 'fornecedor_edit' pk=fornecedor.pk %}" class="bg-yellow-500 hover:bg-yellow-600 text-white py-1 px-3 rounded-md">
                            <i class="fas fa-edit"></i>
                        </a>
                        <!-- Botão de Visualizar -->
                        <a href="{% url 'fornecedor_detail' pk=fornecedor.pk %}" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded-md">
                            <i class="fas fa-eye"></i>
                            </a>
                        <!-- Botão de Excluir -->
                        <a href="{% url 'fornecedor_confirm_delete' pk=fornecedor.pk %}" class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded-md">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center text-gray-500 py-4">Nenhuma ordem de serviço encontrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
