{% extends "base.html" %} {% block title %}Alteração de senha{% endblock %} {% block content %}

<form method="POST">
  {% csrf_token %}
  <h2>Alteração de senha</h2>

  <!-- Campo Senha antiga -->
  <div class="mb-4">
    <label class="block text-gray-300 text-sm font-bold mb-2" for="senha">
      Senha antiga
    </label>
    <div class="flex items-center bg-white rounded-md">
      <i class="fas fa-lock text-gray-500 pl-3"></i>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="senha"
        type="password"
        name="old_password"
        placeholder="Senha antiga"
      />
    </div>
  </div>

  <!-- Campo Nova senha -->
  <div class="mb-4">
    <label class="block text-gray-300 text-sm font-bold mb-2" for="senha">
      Nova senha
    </label>
    <div class="flex items-center bg-white rounded-md">
      <i class="fas fa-lock text-gray-500 pl-3"></i>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="senha"
        type="password"
        name="new_password1"
        placeholder="Nova senha"
      />
    </div>
  </div>

  <!-- Campo Confirme sua Nova senha -->
  <div class="mb-4">
    <label
      class="block text-gray-300 text-sm font-bold mb-2"
      for="confirmarSenha"
    >
      Confirme sua nova senha
    </label>
    <div class="flex items-center bg-white rounded-md">
      <i class="fas fa-lock text-gray-500 pl-3"></i>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="confirmarSenha"
        type="password"
        name="new_password2"
        placeholder="Confirme nova senha"
      />
    </div>
  </div>

  <!-- Botão Salvar a alteração da senha -->
  <div class="flex items-center justify-center mb-4">
    <button
      class="bg-white hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
    >
      Salvar
    </button>
  </div>
</form>
{% endblock %}
