{% extends 'base.html' %}

{% block title %}
  Minha Aplicação
{% endblock %}

{% block content %}
<div class="w-full max-w-full md:max-w-5xl lg:max-w-7xl mx-auto bg-white rounded shadow-md p-6">
    <h2 class="text-xl font-bold mb-6 text-center">Gerenciamento de Produtos</h2>

    <!-- Botões de Ação -->
    <div class="flex justify-between mb-6">
      <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline flex items-center"><a href="produtos/novo/"><i class="fas fa-plus mr-2"></i> Adicionar Produto</a></button>
      <form method="GET" action="{% url 'produto_list' %}" class="w-full max-w-sm flex items-center">
        <input type="text" name="search" placeholder="Pesquisar Produto..." class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring" value="{{ request.GET.search|default:'' }}" />
        <button type="submit" class="ml-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <!-- Tabela de Produtos -->
    <div class="overflow-x-auto shadow-md rounded-lg">
      <table class="table-auto w-full text-left bg-gray-100 border rounded-lg">
        <thead class="bg-gray-50">
          <tr class="bg-gray-200">
            <th class="px-4 py-2">ID</th>
            <th class="px-4 py-2">Nome</th>
            <th class="px-4 py-2">Quantidade Atual</th>
            <th class="px-4 py-2">Custo Final</th>
            <th class="px-4 py-2">Lucro</th>
            <th class="px-4 py-2">Valor Venda</th>
            <th class="px-4 py-2">Fornecedor</th>
            <th class="px-4 py-2">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
            <tr class="border-t">
              <td class="px-4 py-2">{{ produto.id }}</td>
              <td class="px-4 py-2">{{ produto.nome }}</td>
              <td class="px-4 py-2">{{ produto.qtd_atual }}</td>
              <td class="px-4 py-2">R$ {{ produto.custo_final }}</td>
              <td class="px-4 py-2">R$ {{ produto.lucro }}</td>
              <td class="px-4 py-2">R$ {{ produto.valor_venda }}</td>
              <td class="px-4 py-2">{{ produto.fornecedor }}</td>
              <td class="px-4 py-2 text-center flex justify-center space-x-2">
                <!-- Botão de Alterar -->
                <a href="{% url 'produto_edit' pk=produto.pk %}" class="bg-yellow-500 hover:bg-yellow-600 text-white py-1 px-3 rounded-md"><i class="fas fa-edit"></i></a>
                <!-- Botão de Visualizar -->
                <a href="{% url 'produto_detail' pk=produto.pk %}" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded-md"><i class="fas fa-eye"></i></a>
                <!-- Botão de Excluir -->
                <a href="{% url 'produto_confirm_delete' pk=produto.pk %}" class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded-md"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="10" class="text-center text-gray-500 py-4">Nenhuma Produto encontrado.</td>
            </tr>
          {% endfor %}
          <!-- Outras linhas podem ser adicionadas -->
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
