{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
  <div class="w-full max-w-4xl bg-white rounded shadow-md p-6">
    <h2 class="text-xl font-bold mb-6 text-center">Visualizar Produto</h2>

    <!-- Detalhes do Produto -->
    <div class="grid grid-cols-1 gap-6">
      <!-- Nome do Fornecedor -->
      <div class="flex items-center">
        <label class="w-1/3 font-bold text-gray-700">Fornecedor:</label>
        <p class="w-full py-2 px-3 border rounded-lg shadow bg-gray-100">{{ produto.fornecedor }}</p>
      </div>

      <!-- Código -->
      <div>
        <label class="block font-bold text-gray-700">Código:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">{{ produto.codigo }}</p>
      </div>

      <!-- Nome -->
      <div>
        <label class="block font-bold text-gray-700">Nome:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">{{ produto.nome }}</p>
      </div>

      <!-- Descrição -->
      <div>
        <label class="block font-bold text-gray-700">Descrição:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">{{ produto.descricao }}</p>
      </div>

      <!-- Valor -->
      <div>
        <label class="block font-bold text-gray-700">Valor:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">R$ {{ produto.valor }}</p>
      </div>

      <!-- Outras Despesas -->
      <div>
        <label class="block font-bold text-gray-700">Outras Despesas:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">R$ {{ produto.outras_despesas }}</p>
      </div>

      <!-- Custo Final -->
      <div>
        <label class="block font-bold text-gray-700">Custo Final:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">R$ {{ produto.custo_final }}</p>
      </div>

      <!-- Lucro -->
      <div>
        <label class="block font-bold text-gray-700">Lucro:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">R$ {{ produto.lucro }}</p>
      </div>

      <!-- Valor de Venda -->
      <div>
        <label class="block font-bold text-gray-700">Valor de Venda:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">R$ {{ produto.valor_venda }}</p>
      </div>

      <!-- Quantidade Mínima -->
      <div>
        <label class="block font-bold text-gray-700">Qtd. Mínima:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">{{ produto.qtd_minima }}</p>
      </div>

      <!-- Quantidade Máxima -->
      <div>
        <label class="block font-bold text-gray-700">Qtd. Máxima:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">{{ produto.qtd_maxima }}</p>
      </div>

      <!-- Quantidade Atual -->
      <div>
        <label class="block font-bold text-gray-700">Qtd. Atual:</label>
        <p class="py-2 px-3 border rounded-lg shadow bg-gray-100">{{ produto.qtd_atual }}</p>
      </div>
    </div>

    <!-- Botão Voltar -->
    <div class="mt-6 flex justify-end">
      <a href="/produtos" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Voltar</a>
    </div>
  </div>
{% endblock %}
