<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #sidebar.closed span {
            display: none;
        }
        #sidebar.closed a {
            justify-content: center; /* Centraliza os ícones */
        }
        #sidebar.closed i {
            margin: 0; /* Remove espaçamento lateral dos ícones */
        }
        .transition-width {
            transition: width 0.3s ease, margin-left 0.3s ease;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <div id="app" class="flex">
        <!-- Inclui a Sidebar -->
        {% include 'sidebar.html' %}

        <!-- Conteúdo Principal -->
        <div id="mainContent" class="flex-1 max-h-px w-screen bg-gray-100 transition-width ml-64">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% else %}
    <p>Você não está logado, por favor faça Login</p>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sidebar = document.getElementById('sidebar'); // Sidebar
            const mainContent = document.getElementById('mainContent'); // Conteúdo principal
            const toggleButton = document.getElementById('sidebarToggle'); // Botão de toggle
            const sidebarIcon = document.getElementById('sidebarIcon'); // Ícone do botão

            let sidebarOpen = true; // Estado inicial da sidebar

            toggleButton.addEventListener('click', function () {
                sidebarOpen = !sidebarOpen;

                if (sidebarOpen) {
                    sidebar.classList.remove('closed');
                    sidebar.classList.remove('w-16');
                    sidebar.classList.add('w-64');
                    mainContent.classList.remove('ml-16');
                    mainContent.classList.add('ml-64');
                    sidebarIcon.classList.remove('fa-bars');
                    sidebarIcon.classList.add('fa-times');
                } else {
                    sidebar.classList.add('closed');
                    sidebar.classList.remove('w-64');
                    sidebar.classList.add('w-16');
                    mainContent.classList.remove('ml-64');
                    mainContent.classList.add('ml-16');
                    sidebarIcon.classList.remove('fa-times');
                    sidebarIcon.classList.add('fa-bars');
                }
            });
        });
    </script>
</body>
</html>