{% extends "base.html" %}

{% block title %}Minha Aplicação{% endblock %}

{% block content %}

<div class="flex flex-col h-screen bg-gray-100 p-6">
    <div class="max-w-5xl bg-white rounded shadow-md p-6">
        <h2 class="text-xl font-bold mb-6 text-center">Visualizar Ordem de Serviço</h2>
        <div class="grid grid-cols-2 gap-4">
            <!-- Nome do Cliente -->
            <div class="flex items-center">
                <label for="cliente" class="w-1/3 font-bold text-gray-700">Cliente:</label>
                <div class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring bg-gray-100">
                    {{ ordem_servico.cliente_nome.nome }}
                </div>
            </div>
            <!-- Veículo -->
            <div class="flex items-center">
                <label for="veiculo" class="w-1/3 font-bold text-gray-700">Veículo:</label>
                <div class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring bg-gray-100">
                    {% for veiculo in ordem_servico.veiculo.all %}
                    {{ veiculo.modelo }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Fotos Antes -->
            <div>
                <label class="block font-bold text-gray-700">Foto Antes:</label>
                {% if ordem_servico.foto_inicio %}
                <img src="{{ ordem_servico.foto_inicio.url }}" alt="Foto Antes"
                    class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                {% endif %}
            </div>
            <!-- Fotos Depois -->
            <div>
                <label class="block font-bold text-gray-700">Foto Depois:</label>
                {% if ordem_servico.foto_fim %}
                <img src="{{ ordem_servico.foto_fim.url }}" alt="Foto Depois"
                    class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                {% endif %}
            </div>
            <!-- Código -->
            <div>
                <label for="codigo" class="block font-bold text-gray-700">Código:</label>
                <div class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring bg-gray-100">
                    {{ ordem_servico.codigo }}
                </div>
            </div>

            <!-- Produtos Utilizados -->
            <div class="p-6 max-w-4xl mx-auto bg-white rounded shadow-md">
                <h2 class="text-2xl font-bold mb-4">Produtos Utilizados</h2>

                <!-- Tabela de Produtos Selecionados -->
                <div class="mt-4">
                    <table class="w-full table-auto border border-gray-300">
                        <thead class="bg-gray-100">
                            <tr>
                                <th class="px-4 py-2 text-left border">Produto</th>
                                <th class="px-4 py-2 text-left border">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody id="listaProdutos" class="bg-white">
                            {% for item in ordem_servico.os_produtos.all %}
                            <tr>
                                <td class="px-4 py-2 border">{{ item.produto.nome }}</td>
                                <td class="px-4 py-2 border text-center">{{ item.quantidade }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Valor da Mão de Obra -->
            <div>
                <label for="mao_obra" class="block font-bold text-gray-700">Valor Mão de Obra:</label>
                <div class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring bg-gray-100">
                    {{ ordem_servico.mao_obra }}
                </div>
            </div>
            <!-- Descrição -->
            <div>
                <label for="descricao" class="block font-bold text-gray-700">Descrição:</label>
                <div class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring bg-gray-100">
                    {{ ordem_servico.descricao }}
                </div>
            </div>
            <!-- Valor Total -->
            <div>
                <label for="valor_total" class="block font-bold text-gray-700">Valor Total:</label>
                <div class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring bg-gray-100">
                    {{ ordem_servico.valor_total }}
                </div>
            </div>
            <!-- Observações -->
            <div>
                <label for="observacoes" class="block font-bold text-gray-700">Observações:</label>
                <div class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring bg-gray-100">
                    {{ ordem_servico.observacao }}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}