{% extends "base.html" %}

{% block title %}Minha Aplicação{% endblock %}

{% block content %}

<div class="w-full max-w-4xl bg-white mx-auto rounded shadow-md p-6">
    <div class="max-w-5xl bg-white rounded shadow-md p-6">
        <h2 class="text-xl font-bold mb-6 text-center">Editar Ordem de Serviço</h2>
        <form method="POST" enctype="multipart/form-data" class="flex-grow flex flex-col space-y-4">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4">
                <!-- Nome do Cliente -->
                <div class="flex items-center">
                    <label for="cliente" class="w-1/3 font-bold text-gray-700">Cliente:</label>
                    <select id="cliente" name="cliente_nome"
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                        <option value="" disabled>Selecione um cliente</option>
                        {% for cliente in clientes %}
                        <option value="{{ cliente.id }}" {% if cliente.id == ordem_servico.cliente_nome.id %}selected {% endif %}>{{ cliente.nome }}</option>
                        {% endfor %}
                    </select>
                    <button type="button"
                        class="ml-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <!-- Veículo -->
                <div class="flex items-center">
                    <label for="veiculo" class="w-1/3 font-bold text-gray-700">Veículo:</label>
                    <select id="veiculo" name="veiculo"
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                        <option value="" disabled>Selecione um veículo</option>
                        {% for veiculo in veiculos %}
                        <option value="{{ veiculo.id }}" {% if veiculo.id in ordem_servico.veiculo.all %}selected {% endif %}>{{ veiculo.modelo }}</option>
                        {% endfor %}
                    </select>
                    <button type="button"
                        class="ml-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <!-- Fotos Antes -->
                <div>
                    <label class="block font-bold text-gray-700">Foto Antes:</label>
                    {% if ordem_servico.foto_inicio %}
                    <img src="{{ ordem_servico.foto_inicio.url }}" alt="Foto Antes"
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                    {% endif %}
                    <input type="file" name="foto_inicio" accept="image/*" multiple
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                </div>
                <!-- Fotos Depois -->
                <div>
                    <label class="block font-bold text-gray-700">Foto Depois:</label>
                    {% if ordem_servico.foto_fim %}
                    <img src="{{ ordem_servico.foto_fim.url }}" alt="Foto Depois"
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                    {% endif %}
                    <input type="file" name="foto_fim" accept="image/*" multiple
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                </div>

                <!-- Produtos Utilizados -->
                <div class="p-6 max-w-4xl mx-auto bg-white rounded shadow-md">
                    <h2 class="text-2xl font-bold mb-4">Seleção de produtos</h2>

                    <!-- Produtos e Quantidades -->
                    <div>
                        <label for="produto" class="block text-sm font-medium text-gray-700">Produtos:</label>
                        <div class="flex items-center space-x-2 mt-2">
                            <select id="produto" name="produto[]"
                                class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                                <option value="" disabled selected>Selecione um produto</option>
                                {% for produto in produtos %}
                                <option value="{{ produto.id }}" data-valor="{{ produto.valor_venda }}" data-qtd-atual="{{ produto.qtd_atual }}">{{ produto.nome }}</option>
                                {% endfor %}
                            </select>
                            <input type="number" id="quantidade"
                                class="w-24 p-2 border border-gray-300 rounded focus:outline-none focus:ring"
                                placeholder="Qtd" min="1">
                            <button type="button" id="adicionarProduto" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Adicionar</button>
                        </div>
                    </div>

                    <!-- Tabela de Produtos Selecionados -->
                    <div class="mt-4">
                        <h3 class="text-lg font-bold mb-2">Produtos Selecionados</h3>
                        <table class="w-full table-auto border border-gray-300">
                            <thead class="bg-gray-100">
                                <tr>
                                    <th class="px-4 py-2 text-left border">Produto</th>
                                    <th class="px-4 py-2 text-left border">Quantidade</th>
                                    <th class="px-4 py-2 text-left border">Valor Unitário</th>
                                    <th class="px-4 py-2 text-left border">Valor Total</th>
                                    <th class="px-4 py-2 text-center border">Ações</th>
                                </tr>
                            </thead>
                            <tbody id="listaProdutos" class="bg-white">
                                {% for item in os_produtos %}
                                <tr id="produto-{{ item.id }}" data-produto-id="{{ item.produto.id }}">
                                    <td class="px-4 py-2 border">{{ item.produto.nome }}</td>
                                    <td class="px-4 py-2 border text-center">{{ item.quantidade }}</td>
                                    <td class="px-4 py-2 border text-center">{{ item.produto.valor_venda }}</td>
                                    <td class="px-4 py-2 border text-center valor-total-produto">{{ item.valor_total }}</td>
                                    <td class="px-4 py-2 text-center border">
                                        <button type="button" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 remover">Remover</button>
                                        <input type="hidden" name="produto[]" value="{{ item.produto.id }}">
                                        <input type="hidden" name="quantidade[]" value="{{ item.quantidade }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- Valor da Mão de Obra -->
                <div>
                    <label for="mao_obra" class="block font-bold text-gray-700">Valor Mão de Obra:</label>
                    <input id="mao_obra" name="mao_obra" step="0.01" value="{{ ordem_servico.mao_obra }}"
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                </div>
                <!-- Descrição -->
                <div>
                    <label for="descricao" class="block font-bold text-gray-700">Descrição:</label>
                    <textarea id="descricao" name="descricao" rows="3"
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">{{ ordem_servico.descricao }}</textarea>
                </div>
                <!-- Valor Total -->
                <div>
                    <label for="valor_total" class="block font-bold text-gray-700">Valor Total:</label>
                    <input id="valor_total" name="valor_total" step="0.01" value="{{ ordem_servico.valor_total }}"
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">
                </div>
                <!-- Observações -->
                <div>
                    <label for="observacoes" class="block font-bold text-gray-700">Observações:</label>
                    <textarea id="observacoes" name="observacao" rows="3"
                        class="w-full py-2 px-3 border rounded-lg shadow focus:outline-none focus:ring">{{ ordem_servico.observacao }}</textarea>
                </div>
            </div>
            <!-- Botões -->
            <div class="mt-6 flex justify-end space-x-2">
                <a href="/ordem_servico/" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancelar</a>
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Salvar</button>
            </div>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#cliente').select2({
            placeholder: "Selecione um cliente",
            allowClear: true,  // Adiciona um botão "limpar"
            width: '100%'      // Garante que o dropdown se ajuste ao contêiner
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#veiculo').select2({
            placeholder: "Selecione um veiculo",
            allowClear: true,  // Adiciona um botão "limpar"
            width: '100%'      // Garante que o dropdown se ajuste ao contêiner
        });
    });
</script>
<!-- Script para funcionalidade -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const listaProdutos = document.getElementById('listaProdutos');
        const adicionarProduto = document.getElementById('adicionarProduto');
        const produtoSelect = document.getElementById('produto');
        const quantidadeInput = document.getElementById('quantidade');

        const maoObraInput = document.getElementById('mao_obra');
        const valorTotalInput = document.getElementById('valor_total');

        // Função para substituir vírgulas por pontos
        function replaceCommaWithDot(input) {
            if (input) {
                input.value = input.value.replace(',', '.');
            }
        }

        // Executar a função ao carregar a página
        replaceCommaWithDot(maoObraInput);
        replaceCommaWithDot(valorTotalInput);

        // Função para criar a linha da tabela
        function criarLinhaTabela(produtoNome, quantidade, valorUnitario, produtoId) {
            const valorUnitarioNumerico = parseFloat(valorUnitario.replace(',', '.'));
            const valorTotal = (quantidade * valorUnitarioNumerico).toFixed(2);
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td class="px-4 py-2 border">${produtoNome}</td>
                <td class="px-4 py-2 border text-center">${quantidade}</td>
                <td class="px-4 py-2 border text-center">${valorUnitario}</td>
                <td class="px-4 py-2 border text-center valor-total-produto">${valorTotal}</td>
                <td class="px-4 py-2 text-center border">
                    <button class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 remover">Remover</button>
                    <input type="hidden" name="produto[]" value="${produtoId}">
                    <input type="hidden" name="quantidade[]" value="${quantidade}">
                    <input type="hidden" name="valor_unitario[]" value="${valorUnitario}">
                    <input type="hidden" name="valor_total[]" value="${valorTotal}">
                </td>
            `;

            tr.querySelector('.remover').addEventListener('click', () => {
                tr.remove();
                calcularValorTotal();
            });

            return tr;
        }

        function calcularValorTotal() {
            let totalProdutos = 0;
            const linhas = listaProdutos.querySelectorAll('tr');
            linhas.forEach(linha => {
                const valorTotalProduto = parseFloat(linha.querySelector('.valor-total-produto').textContent);
                totalProdutos += valorTotalProduto;
            });

            const valorMaoObra = parseFloat(maoObraInput.value.replace(',', '.')) || 0;
            const valorTotal = (totalProdutos + valorMaoObra).toFixed(2);
            valorTotalInput.value = valorTotal;
        }

        adicionarProduto.addEventListener('click', () => {
            const produtoOption = produtoSelect.options[produtoSelect.selectedIndex];
            const produtoId = produtoOption.value;
            const produtoNome = produtoOption.text;
            const quantidade = quantidadeInput.value;
            const valorUnitario = produtoOption.getAttribute('data-valor');
            const qtdAtual = produtoOption.getAttribute('data-qtd-atual');

            if (!produtoId || !quantidade || quantidade <= 0) {
                alert('Por favor, selecione um produto e insira uma quantidade válida.');
                return;
            }

            if (parseInt(qtdAtual) <= 0) {
                alert('Este produto está fora de estoque.');
                return;
            }

            const novaLinha = criarLinhaTabela(produtoNome, quantidade, valorUnitario, produtoId);
            listaProdutos.appendChild(novaLinha);

            produtoSelect.value = '';
            quantidadeInput.value = '';

            calcularValorTotal();
        });

        maoObraInput.addEventListener('input', calcularValorTotal);

        // Adicionar evento de clique para os botões de remover dos produtos carregados inicialmente
        listaProdutos.querySelectorAll('.remover').forEach(button => {
            button.addEventListener('click', (event) => {
                event.preventDefault();
                const tr = event.target.closest('tr');
                tr.remove();
                calcularValorTotal();
            });
        });

        // Calcular o valor total ao carregar a página
        calcularValorTotal();
    });
</script>

<style>
    .remover, #adicionarProduto {
        position: relative;
        z-index: 10;
    }
</style>

{% endblock %}